{% extends "layout.html" %}

{% block content %}
<!--  Display the Term and Year here --->
<h3>{{title}}</h3>

<div>
    {% if data %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Credits</th>
                <th scope="col">Term</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td scope='row'>{{ d["courseID"] }}</td>
                <td>{{ d["title"] }}</td>
                <td>{{ d["description"] }}</td>
                <td>{{ d["credits"] }}</td>
                <td>{{ d["term"] }}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    {% else %}
    
    {% endif %}
</div>

{% endblock %}