.bottom-container {
    background: var(--first-color);
    color: var(--white-color);
    padding:5px;
    border-top:2px solid var(--first-color);
    bottom:0;
    height: 40px;
    position: sticky; 
    margin-top: 50px;
    top: calc( 100vh - 40px );
}
.responsive {
    max-width: 200px;
    text-align: center;
    height: auto;
}