.bottom-container {
    background: var(--first-color);
    color: var(--white-color);
    padding:5px;
    border-top:2px solid var(--first-color);
    bottom:0;
    height: 40px;
    position: sticky; 
    margin-top: 50px;
    top: calc( 100vh - 40px );
}
.responsive {
    max-width: 200px;
    text-align: center;
    height: auto;
}
.square-container {
    width: 8rem;
    height: 8rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--first-icon-color);
    color: var(--white-color)
}
.link-text {
    color: var(--first-color)
}
.link-icon{
    width: 5rem;
    height: 5rem;
}