.bottom-container {
    background: var(--first-color);
    color: var(--white-color);
    padding:5px;
    border-top:2px solid var(--first-color);
    bottom:0;
    height: 40px;
    position: sticky; 
    margin-top: 50px;
    top: calc( 100vh - 40px );
}
.responsive {
    max-width: 200px;
    text-align: center;
    height: auto;
}

hr{
    color:var(--first-color);
    background-color: var(--first-color);
}
.square-container {
    position: relative;
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--first-icon-color);
    color: var(--white-color)
}
.square-container:hover {
    text-align: center;
    background-color: var(--first-icon-color-hover);
}
.link-text {
    color: var(--first-color);
    position: absolute;
    bottom: -0.5rem;
}
.link-icon{
    max-width: 5rem;
    align-items: center;
    margin-bottom: auto;
}